mysql:
  image: mysql:5.7
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: employee_db
  ports:
    - "3306:3306"

backend:
  build: ./backend
  ports:
    - "5000:5000"
  links:
    - mysql

frontend:
  build: ./frontend
  ports:
    - "3000:3000"
  links:
    - backend
